TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
string = 'This is a data science pro course'
reverseString = string[::-1]
print (reverseString)

esruoc orp ecneics atad a si sihT

2.Check if a string is a palindrome.

In [6]:
string = 'abcdedcba'

if (string!= string[::-1]):
  print('string is not palindrome.')
else:
  print('string is palindrome.')

string is palindrome.

3. Convert a string to uppercase.

In [7]:
string = 'I love data science'
print (string.upper())

I LOVE DATA SCIENCE

4.Convert a string to lowercase.

In [10]:
string = 'i LOve dAtA sCieNcE'
print (string.lower())

i love data science

5. Count the number of vowels in a string.

In [11]:
string = 'I am Dipanjan Pathak. I love data science'
vowel ='aeiouAEIOU'
count =0

for char in string:
 if char in vowel:
   count+=1
print(f'total vowel count is {count}')

total vowel count is 15

6. Count the number of consonants in a string.

In [12]:
string = 'I am Dipanjan Pathak. I love data science'
vowels = 'aeiouAEIOU'
count = 0

for char in string:
    if char.isalpha() and char not in vowels :
        count += 1
print(f'Total consonant count is {count}')

Total consonant count is 18

7. Remove all whitespaces from a string.

In [15]:
string = 'I am Dipanjan Pathak. I love data science'
newString = string.replace(" ", "")
print(newString)

IamDipanjanPathak.Ilovedatascience

8. Find the length of a string without using the `len()` function.

In [16]:
string = "Find the length of a string without using the `len()` function."
count = 0
for char in string:
  count +=1
print (f'the length of the string is {count}')

the length of string is 63

9. Check if a string contains a specific word.

In [ ]:
string = 'I am Dipanjan Pathak. I love data science'
word = 'love'
if word in string:
  print (f'Yes {word} exist in the string')
else:
  print(f'No {word} does not exist in the string')

10. Replace a word in a string with another word.

In [ ]:
string = 'I am Dipanjan Pathak. I love data science'
print(string.replace('data science','web development'))

11. Count the occurrences of a word in a string.

In [1]:
string = 'I am Dipanjan Pathak. I love data science. I am willing to be a data scientist, Thats why I enrolled in data science course'

print ("The total count of data is ",string.count('data'))

12. Find the first occurrence of a word in a string.

In [1]:
string = 'I am Dipanjan Pathak. I love data science. I am willing to be a data scientist, Thats why I enrolled in data science course'
string.index('data')
print(string.index('data'))

29

13. Find the last occurrence of a word in a string.

In [5]:
string = 'I am Dipanjan Pathak. I love data science. I am willing to be a data scientist, Thats why I enrolled in data science course'
print(f'The last occurrence of word "data" is',string.rfind('data'))

The last occurrence of word "data" is 104

14.Split a string into a list of words.

In [ ]:
string= "I am dipanjan"
theList = list(string.split(" "))
print (theList)

15. Join a list of words into a string.

In [16]:
theList = ['I', 'am', 'Dipanjan', 'Pathak']
result_string = ' '.join(theList)
print(result_string)

I am Dipanjan Pathak

16.Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [19]:
string ="Convert a string where words are separated by spaces"
newStr = string.replace(' ','_')
print (newStr)

Convert_a_string_where_words_are_separated_by_spaces

17. Check if a string starts with a specific word or phrase.

In [1]:
string ="Check if a string starts with a specific word or phrase"
listItem = string.split()
if listItem[0]== 'Check':
  print ('Yes, the word or phrase starts with "check"')
else:
  print ('No the word or phrase does not start with "check"')

Yes the word or phrase starts with "check"

18. Check if a string ends with a specific word or phrase.

In [2]:
string ="Check if a string starts with a specific word or phrase"
listItem = string.split()
if listItem[-1]== 'phrase':
  print ('Yes, the word or phrase ends with "phrase"')
else:
  print ('No, the word or phrase does not end with "phrase"')

Yes, the word or phrase ends with "phrase"

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [3]:
string = 'hello world'
newString= string.title()
print (newString)

Hello World

20. Find the longest word in a string.

In [5]:
string = input("Enter the sentence: ")
newList = string.split()
result =0

for item in(newList):
  count =len(item)
  if count >result:
   result = count
for item in newList:
  if len(item)==result:
    print (f'The element is "{item}" and its length is {len(item)}')

Enter the sentence:  i am a boy

The element is "boy" and its length is 3

21. Find the shortest word in a string.

In [ ]:
string = input ('Enter a sentence: ')

listItem = sentence.split()
if listItem:
  word = min(listItem, key=len)
  print (f'the shortest word is "{word}"')

22. Reverse the order of words in a string.

In [8]:
sentence = input("Enter the sentence: ")
setenceSplit = (sentence.split())
newList =setenceSplit[::-1]
newSentence= " ".join(newList)
print (newSentence)

Enter the sentence:  I am a boy

boy a am I

23. Check if a string is alphanumeric.

In [10]:
string = input ("Enter the sentence: ")
newstring = string.replace(" ","")

if  newstring.isalnum():
    print ('Sting is alphanumeric')
  
else:
    print ('Sting is not alpha numeric')

Enter the sentence:  vn 54nn bfivbdb 554 `

Sting is not alpha numeric

24. Extract all digits from a string.

In [18]:
string ="I am 27 years old"
filteredChars = [char for char in string if not char.isdigit()]
newString = ''.join(filteredChars)
print(newString)

I am  years old

25. Extract all alphabets from a string.

In [ ]:
string = 'I am 27 years old'
newList = []
for char in string:
  if char.isdigit():
    newList.append(char)
newString = ''.join(newList)
print(newString)

26. Count the number of uppercase letters in a string.

In [ ]:
string =  "I LoVe PytHOn"
count =0
for char in string:
  if char.isupper():
    count+=1
print (f'The number of total uppercase is {count}')

27. Count the number of lowercase letters in a string.

In [1]:
string =  "I LoVe PytHOn"
count =0
for char in string:
  if char.islower():
    count+=1
print (f'The number of total uppercase is {count}')

The number of total uppercase is 5

28. Swap the case of each character in a string.

In [ ]:
string =  "I LoVe PytHOn"
count =0
for char in string:
  if char.isupper():
    char =char.lower()
    
  elif char.islower():
    char = char.upper()
  print (char, end ='')

29. Remove a specific word from a string.

In [2]:
string = "I dont Love Python"
newString = string.replace('dont',"")
print (newString, end="")

I  Love Python

30. Check if a string is a valid email address.

In [4]:
import re
email = "dipanjanpathak@gmail.com"
email_pattern = re.compile(r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$')

if not email_pattern.match(email):
    print("Invalid email format!")
else:
    print("Congratulations! You entered a correct E-Mail!")

Invalid email format!

31. Extract the username from an email address string.

In [5]:
email= 'dipanjanpathak@gmail.com'
itemIndex = email.index('@')
username = email[0:itemIndex]
print(username)

dipanjanpathak

32. Extract the domain name from an email address string.

In [ ]:
email= 'dipanjanpathak@gmail.com'
itemIndex = email.index('@')+1
domainName = email[itemIndex:]
print(domainName)

33. Replace multiple spaces in a string with a single space.

In [8]:
string = 'I am dipanjan    pathak         enrolled in Data Science       '
newString= string.split()
finalString = " ".join(newString)
print(finalString)

I am dipanjan pathak enrolled in Data Science

34. Check if a string is a valid URL.

In [7]:
import validators

def validUrl(url):
    return validators.url(url)
  
url1 = "https://www.abharole.com"

if validUrl(url1)==True:
  print ('URL is valid')
else:
  print("Not a Valid URL")

NameError: name 'validators' is not defined

35.Extract the protocol (http or https) from a URL string.

In [8]:
url ='https://www.abharole.com'
newUrl = url.replace('https',"")
print (newUrl)

://www.abharole.com

36. Find the frequency of each character in a string.

In [9]:
string = "I love data science"
frequency = {}

for char in string:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

for char, count in frequency.items():
    print(f'Character: {char}, Count: {count}')

Character: I, Count: 1
Character:  , Count: 3
Character: l, Count: 1
Character: o, Count: 1
Character: v, Count: 1
Character: e, Count: 3
Character: d, Count: 1
Character: a, Count: 2
Character: t, Count: 1
Character: s, Count: 1
Character: c, Count: 2
Character: i, Count: 1
Character: n, Count: 1

37. Remove all punctuation from a string.

In [10]:
string = 'Yah! thats right, I love data science 1000 times'
newList = list(string)
lastList=[]

for char in newList:
  if char.isalnum() or char ==" ":
    lastList.append(char)
newString = "".join(lastList)
print(newString)

Yah thats right I love data science 1000 times

38. Check if a string contains only digits.

In [10]:
string = '3464bngngn8725'
nonDigits =[]

for char in string:
  if not char.isdigit():
    nonDigits.append(char)
digitList = ",".join(nonDigits)
if not nonDigits:
    print("The string contains only digits.")
else:
     print(f'The string not contains only digits and the non digits are {digitList}')

The string not contains only digits and the non digits are b,n,g,n,g,n

39. Check if a string contains only alphabets.

In [12]:
string = '3464bngngn8725'
nonAlpha =[]

for char in string:
  if not char.isalpha():
    nonAlpha.append(char)
alphaList = ",".join(nonAlpha)
if not nonAlpha:
  print("The string contains only alphabets.")
else:
  print(f'The string not contains only alphabets and the non alphabets are {alphaList}')

The string not contains only alphabets and the non alphabets are 3,4,6,4,8,7,2,5

40. Convert a string to a list of characters.

In [11]:
string = string ="Hello World!"
list = list(string)
print(list)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

41. Check if two strings are anagrams.

In [13]:
string1= "Dipanjan"
string2= "ipDAnjan"

if sorted(string1.lower())!= sorted(string2.lower()):
  print ("They are not anagrams")
else:
  print("They are anagrams")

They are anagrams

42. Encode a string using a Caesar cipher.

In [ ]:
string = input("Enter Your string to encrypt: ")
lowerAlphabet= 'abcdefghijklmnopqrstuvwxyz'
UpperAlphabet= 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
newList=[]
for char in string:
  
    if char.isupper():
      newIndex =(UpperAlphabet.index(char)+4)%26
      newList.append(UpperAlphabet[newIndex])
      
    elif char.islower():
      newIndex =(lowerAlphabet.index(char)+4)%26
      newList.append(lowerAlphabet[newIndex])
    else:
      newList.append(char)
      
encryption= "".join(newList)
print(f'The encrypted sentence is: "{encryption}"')

43. Decode a Caesar cipher encoded string.

In [14]:
string = input("Enter 'E' for encrytion 'D' for decode: ")
modifiedInput= string.lower()

if modifiedInput =='e':
  string = input("Enter Your string to encrypt: ")
  lowerAlphabet= 'abcdefghijklmnopqrstuvwxyz'
  UpperAlphabet= lowerAlphabet.upper()
  newList=[]
  for char in string:

      if char.isupper():
        newIndex =(UpperAlphabet.index(char)+4)%26
        newList.append(UpperAlphabet[newIndex])

      elif char.islower():
        newIndex =(lowerAlphabet.index(char)+4)%26
        newList.append(lowerAlphabet[newIndex])
      else:
        newList.append(char)

  encryption= "".join(newList)
  print(f'The encrypted sentence is: "{encryption}"')

elif modifiedInput =='d':
  string = input("Enter Your string to decrypt: ")
  lowerAlphabet= 'abcdefghijklmnopqrstuvwxyz'
  UpperAlphabet= lowerAlphabet.upper()
  newList=[]
  for char in string:

      if char.isupper():
        newIndex =(UpperAlphabet.index(char)-4)%26
        newList.append(UpperAlphabet[newIndex])

      elif char.islower():
        newIndex =(lowerAlphabet.index(char)-4)%26
        newList.append(lowerAlphabet[newIndex])
      else:
        newList.append(char)

  dencryption= "".join(newList)
  print(f'The decrypted sentence is: "{dencryption}"')

Enter 'E' for encrytion 'D' for decode:  e
Enter Your string to encrypt:  DipanJan Pathak

The encrypted sentence is: "HmterNer Texleo"

44. Find the most frequent word in a string.

In [18]:
inputString = "I am Dipanjan Pathak. I Love Data Science"
def mostFrequentWord(inputString):
  words = inputString.split()
  wordCounts = {}

  for word in words:
      word = word.lower()
      wordCounts[word] = wordCounts.get(word, 0) + 1

  mostFrequentWord = max(wordCounts, key= wordCounts.get)
  return mostFrequentWord

result = mostFrequentWord(inputString)
print(f"The most frequent word is: {result}")

The most frequent word is: i

In [22]:
inputString = "I am Dipanjan Pathak. I Love Data Science"

def uniqueWords(inputString):
    words = inputString.split()
    uniqueWordSet = set(words)
    return uniqueWordSet

result = uniqueWords(inputString)
print(f"Unique words in the string: {result}")

Unique words in the string: {'I', 'Data', 'Love', 'Pathak.', 'Science', 'am', 'Dipanjan'}

46. Count the number of syllables in a string.

In [ ]:
string = "I am Dipanjan Pathak"
count =0
vowel = 'aeiouAEIOU '
for char in string:
  if not char in vowel:
     count +=1
print(f'The total number of sylleble in the string is {count}')

47. Check if a string contains any special characters.

In [ ]:
string ='Hi! I am Dipanjan Pathak. I love Data Science!'
character = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890 '
count =0
for char in string:
  if not char in character:
    count +=1
print (f'Yes, the string contains total {count} number of special character ')

48. Remove the nth word from a string.

In [24]:
string = "'I am Dipanjan Pathak. I love Data Science'"
stringSplit= string.split()
print(string)
wordIndex =int(input("Enter index number you want to remove: "))
newList = stringSplit.pop(wordIndex)
newString= " ".join(stringSplit)
print(newString)

'I am Dipanjan Pathak. I love Data Science'

Enter index number you want to remove:  4

'I am Dipanjan Pathak. love Data Science'

49. Insert a word at the nth position in a string.

In [25]:
string = "'I am Dipanjan Pathak. I love Data Science'"
stringSplit= string.split()
print(string)
wordIndex =int(input("Enter index number you want to add the data: "))
newData = input("Enter data: ")
stringSplit.insert(wordIndex, newData)
newString= " ".join(stringSplit)
print(newString)

'I am Dipanjan Pathak. I love Data Science'

Enter index number you want to add the data:  5
Enter data:  kalu

'I am Dipanjan Pathak. I kalu love Data Science'

50.Convert a CSV string to a list of lists.

In [ ]:
csvString = """Name, Age, Country
Dipanjan, 27, India
Ayush, 30, USA
Rohan, 22, UK"""

csvList = [line.split(",") for line in csvString.split("\n")]
csvList = [row for row in csvList if row]

for row in csvList:
    print(row)

In [ ]:




List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [27]:
numberList= [i for i in range (1,11)]
print(numberList,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [ ]:
list =["a","b","c","d","e","f","1","2","True","g"]
count =0
for i in list:
  count +=1
print (f'Length of List is {count}')

3. Append an element to the end of a list.

In [ ]:
list =["a","b","c","d","e","f","1","2","True","g"]
list.append('i')
print(list)

4. Insert an element at a specific index in a list.

In [ ]:
list =["a","b","c","d","e","f","1","2","True","g"]
list.insert(5,'j')
print(list)

5. Remove an element from a list by its value.

In [ ]:
list =["a","b","c","d","e","f","1","2","True","g"]
list.pop(list.index('c'))
print(list)

6. Remove an element from a list by its index.

In [1]:
list =["a","b","c","d","e","f","1","2","True","g"]
list.pop(4)
print(list)

['a', 'b', 'c', 'd', 'f', '1', '2', 'True', 'g']

7. Check if an element exists in a list.

In [ ]:
list =["a","b","c","d","e","f","1","2","True","g"]
element ='g'

if element in list:   
    print(f'element exist in the list')
else:
    print(f'element does not exist in the list')

8. Find the index of the first occurrence of an element in a list.

In [ ]:
list =["a","b","c","d","e","f","1","2","True","g"]
element = 'c'
index = list.index(element)
print(index)

9. Count the occurrences of an element in a list.

In [ ]:
list =["a","b","c",'a',"d","e",'a',"f","1","2","True","g"]
item ='a'
count =0
for element in list:
  if element ==item:
    count +=1
print (f'The total no of "{item}" is {count}')

10. Reverse the order of elements in a list.

In [ ]:
list =["a","b","c",'a',"d","e",'a',"f","1","2","True","g"]
list.reverse()
print(list)

11. Sort a list in ascending order.

In [ ]:
list =["a","b","c",'a',"f","e",'a',"d","1","2","True","g"]
list.sort()
print(list)

12. Sort a list in descending order.

In [ ]:
list =["a","b","c",'a',"f","e",'a',"d","1","2","True","g"]
list.sort()
list.reverse()
print(list)

13. Create a list of even numbers from 1 to 20.

In [3]:
numberList =list(range(1,21))
evenList=[]
for item in numberList:
  if item%2==0:
    evenList.append(item)
print(evenList)

TypeError: 'list' object is not callable

14. Create a list of odd numbers from 1 to 20.

In [ ]:
numberList =list(range(1,21))
oddList=[]
for item in numberList:
  if item%2==1:
    oddList.append(item)
print(oddList)

15. Find the sum of all elements in a list.

In [ ]:
numberList =list(range(1,21))
sum =0
for item in numberList:
  sum +=item
print(f'Sum is {sum}')

16. Find the maximum value in a list.

In [1]:
numbers = [20, 34, 46, 78, 12, 56, 89, 23, 41, 67]
maxNumber=max(numbers)
print(f'The maximum number is {maxNumber}')

The maximum number is 89

In [2]:
numbers = [20, 34, 46, 78, 12, 56, 89, 23, 41, 67]
minNumber= min(numbers)
print(f'The minimum number is {minNumber}')

The minimum number is 12

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
numbers= list(range(1,11))
newlist =[]
for item in numbers:
  newitem =item**2
  newlist.append(newitem)
print(newlist)

19. Create a list of random numbers.

In [3]:
import random
list =[]
for i in range(1,11):
 randomNumber= random.randint(1,100)
 list.append(randomNumber)
print(list)

[93, 54, 29, 35, 80, 90, 55, 45, 44, 83]

20. Remove duplicates from a list.

In [6]:
list =[8, 92, 14, 34, 34, 1, 7, 16, 56, 16]
newlist =[]
for char in list:
 if  char not in newlist:
   newlist.append(char)
print(f'After removing dupicates the final list is {newlist}')

After removing dupicates the final list is [8, 92, 14, 34, 1, 7, 16, 56]

21. Find the common elements between two lists.

In [5]:
list1= [1,2,3,4,5]
list2=[1,2,3,6,7]
newList= []
for char in list1:
    if char in list2 :
      newList.append(char)

print(f'The common between to list is {newList}')

The common between to list is [1, 2, 3]

22. Find the difference between two lists.

In [9]:
list1= [1,2,3,4,5]
list2=[1,2,3,6,7]
newList= []
for char in list1:
    if char not in list2 :
      newList.append(char)

print(f'The differnce between to list, means the element present in list1 but not present in list2 is {newList}')

The differnce between to list, means the element present in list1 but not present in list2 is [4, 5]

23. Merge two lists.

In [ ]:
list1= [1,2,3,4,5]
list2=[1,2,3,6,7]
newList= list1+list2

print(f'The new list is {newList}')

24. Multiply all elements in a list by 2.

In [ ]:
list= [1,2,3,4,5]
finalList=[]
for item in list:
  item=item*2
  finalList.append(item)
  
print(finalList)

25. Filter out all even numbers from a list.

In [ ]:
list1= list(range(1,21))

newList = list(filter(lambda x: x % 2 == 0, list1))
print(newList)

26. Convert a list of strings to a list of integers.

In [1]:
theList = ["10", "25", "5", "42", "8"]
newList=[]
for item in theList:
  item = int(item)
  newList.append(item)
print(newList)

[10, 25, 5, 42, 8]

27. Convert a list of integers to a list of strings.

In [ ]:
theList = [10, 25, 5, 42, 8]
newList=[]
for item in theList:
  item = str(item)
  newList.append(item)
print(newList)

28. Flatten a nested list.

In [ ]:
theList = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
newlist= theList[0]+theList[1]+theList[2]
print(newlist)

29. Create a list of the first 10 Fibonacci numbers.

In [3]:

theList= [0,1]
i =0
for item in theList:
 newItem= theList[i]+theList[i+1]
 theList.append(newItem)
 i+=1
 if i==10:
  break;
print(theList)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

30. Check if a list is sorted.

In [ ]:
theList= [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
if not sorted(theList):
  print("List is not sorted")
else:
  print('List is sortes')

31. Rotate a list to the left by `n` positions.

In [3]:
theList= [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
rotationNumber= int(input("enter index number from backward where you to rotate: "))
extractList= theList[-1:-rotationNumber-1:-1]
extractList.reverse()
restList= theList[:-rotationNumber]
finalList=extractList+restList
print(finalList)

enter index from backward where you to rotate:  3

[34, 55, 89, 0, 1, 1, 2, 3, 5, 8, 13, 21]

32. Rotate a list to the right by `n` positions.

In [2]:
theList= [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
rotationNumber= int(input("enter index from where you to rotate: "))
newList= theList[rotationNumber:]
extraList= theList[0:rotationNumber]
finalList=newList+extraList
print(finalList)

enter index from where you to rotate:  3

[2, 3, 5, 8, 13, 21, 34, 55, 89, 0, 1, 1]

33. Create a list of prime numbers up to 50.

In [1]:
numberList =[]

for i in range(1,50):
    x = True
    for j in range (2,i):
     
        if (i%j==0):
         
         x =False
         break
         
    if x:
        numberList.append(i)   
print(numberList)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [2]:
number_list = list(range(1, 51))
new_list = []
user_input = 5

for x in range(0, len(number_list), user_input):
    chunk = number_list[x:x + user_input]
    new_list.append(chunk)

print(new_list)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25], [26, 27, 28, 29, 30], [31, 32, 33, 34, 35], [36, 37, 38, 39, 40], [41, 42, 43, 44, 45], [46, 47, 48, 49, 50]]

35. Find the second largest number in a list.

In [ ]:
number_list = [2,3,6,4,8,39,58,69,70,36]
number_list.sort()
number = number_list[-2]
print(number)

36. Replace every element in a list with its square.

In [ ]:
number_list =[2, 3, 4, 6, 8, 36, 39, 58, 69, 70]

j =0
while j<len(number_list):
    number_list[j]= number_list[j]**2
    j+=1
print(number_list)

37.Convert a list to a dictionary where list elements become keys and their
indices become values.

In [3]:
name_list = ['Ram','Sam','Jadu', 'Madan']
new_dictionary = {}
for i in name_list:
  new_dictionary.update({i:name_list.index(i)})
    
print(new_dictionary)

{'Ram': 0, 'Sam': 1, 'Jadu': 2, 'Madan': 3}

38. Shuffle the elements of a list randomly.

In [1]:
import random

def shuffle_list_another_way(input_list):
    sample_size = min(len(input_list),  len(input_list))
    shuffled_list = random.sample(input_list, sample_size)
    return shuffled_list

# Example usage:
original_list = [3, 6, 5, 8, 9, 32, 45, 76, 87, 46]
shuffled_result = shuffle_list_another_way(original_list)

print("Original List:", original_list)
print("Shuffled List:", shuffled_result)

Original List: [3, 6, 5, 8, 9, 32, 45, 76, 87, 46]
Shuffled List: [6, 87, 3, 76, 32, 45, 8, 9, 46, 5]

39. Create a list of the first 10 factorial numbers.

In [2]:
number_list = list (range(1,11))
new_number_list = []
print (number_list)
x =1

for i in range(1,11):
     x =x*i
     new_number_list.append(x)
print(new_number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [3]:
list_1 = [2,4,54,65,76,89,46]
list_2 = [5,675,76,43,24,57,53,344,42,65]
new_list =[]
for i in list_1:
 for j in list_2:
  if i==j:
   new_list.append(i)
print(new_list)

[65, 76]

41. Remove all elements from a list.

In [4]:
my_list = [2, 4, 54, 65, 76, 89, 46]
my_list.clear()

print(my_list)

[]

42. Replace negative numbers in a list with 0.

In [5]:
number_list = [3,5,54,-65,4,76,-78,43,-54]
for i in number_list:
 if (i<0):
  x = number_list.index(i)
  number_list[x]=0
print(number_list)

[3, 5, 54, 0, 4, 76, 0, 43, 0]

43. Convert a string into a list of words.

In [6]:
new_string = 'Hey There I am using Python'
x = new_string.split()
  
print(x)

['Hey', 'There', 'I', 'am', 'using', 'Python']

44. Convert a list of words into a string.

In [7]:
new_list = ['Hey', 'There', 'I', 'am', 'using', 'Python']
x = " ".join(new_list)
print(x, type(x))

Hey There I am using Python <class 'str'>

45. Create a list of the first `n` powers of 2.

In [8]:
n = int(input('Enter how much length of list you want: '))
new_list =[]
for i in range(1,n+1):
 result = 2**(i-1)
 new_list.append(result)
 n+=1
print(new_list)

Enter how much length of list you want:  20

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288]

46. Find the longest string in a list of strings.

In [10]:
new_string ="Hey there I am using Python"
new_string ="Hey there I am using Python"
x =new_string.split()
longest_string = max(x,key=len)
print(longest_string)

Python

47. Find the shortest string in a list of strings.

In [11]:
new_string ="Hey there I am using Python"
x =new_string.split()
longest_string = min(x,key=len)
print(longest_string)

I

48. Create a list of the first `n` triangular numbers.

In [12]:
n = int(input("Enter number: "))
new_list = []
i =1
while(i<=n):
 x = (i*(i+1))//2
 new_list.append(x)
 i+=1
print(new_list)

Enter number:  6

[1, 3, 6, 10, 15, 21]

49. Check if a list contains another list as a subsequence.

In [2]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [3, 5, 7]
new_list1 = []
new_list2 = []

for i in list1:
 for j in list2:
  if (i ==j):
   new_list1.append(list1.index(i))
   new_list2.append(list2.index(j))


minus_list1 =[]
minus_list2 =[]
for k in range (0,len(new_list1)-1):
 x = new_list1[k]-new_list1[k+1]
 minus_list1.append(x)
 k+=1

 if (k+1 ==len(new_list1)):
  break

for l in range (0,len(new_list2)-1):
 y = new_list2[l]-new_list2[l+1]
 minus_list2.append(y)
 l+=1
 if (l+1==len(new_list2)):
   break

result1 = len(set(minus_list1)) == 1
result2 = len(set(minus_list2)) == 1


if (result1==result2==True):
 print("Yes list contains another list as a subsequence")
else:
 print("No list contains another list as a subsequence")

Yes list contains another list as a subsequence

49. Check if a list contains another list as a subsequence.

In [ ]:
original_list = [10, 20, 30, 40, 50, 60, 70, 80, 90]

new_list = original_list[3:0:-1]
original_list[1:4]=[]
original_list[2:2]=new_list
print(original_list)

50. Swap two elements in a list by their indices.

In [3]:
original_list = [10, 20, 30, 40, 50,60,70,80,90]
user_input1 = int(input("Enter 1st index no: "))
user_input2 = int(input("Enter 2nd index no: "))
x = original_list[user_input1]
y = original_list[user_input2]

x,y =y,x
original_list[user_input2]=y
original_list[user_input1]=x
print(original_list)

Enter 1st index no:  1
Enter 2nd index no:  5

[10, 60, 30, 40, 50, 20, 70, 80, 90]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [1]:
new_tupple = tuple(range(1,6))
print(new_tupple)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [2]:
new_tupple = (tuple(range(1,6)))[2]
print(new_tupple)

3

3. Find the length of a tuple without using the `len()` function.

In [ ]:
new_tupple = tuple(range(1,6))
count = 0

for i in new_tupple:
 count +=1
print(count)

4. Count the occurrences of an element in a tuple.

In [3]:
new_tupple = (1,2,3,1,5,3,1,4,5,2,2,2,3,4,1,6)
tupple_set= set(new_tupple)
count = 0

for i in tupple_set:
 for j in new_tupple:
   if i ==j:
    count +=1
 print(f'The element {i} apperas {count} times')
 count =0

The element 1 apperas 4 times
The element 2 apperas 4 times
The element 3 apperas 3 times
The element 4 apperas 2 times
The element 5 apperas 2 times
The element 6 apperas 1 times

5. Find the index of the first occurrence of an element in a tuple.

In [6]:

new_tupple = (1,2,3,1,5,3,1,4,5,2,2,2,3,4,1,6)
element = 5
index1 =0
for i in new_tupple:
    if i==element:
      index1 = new_tupple.index(i)
      break

print(f"The index of {element} in the tuple is: {index1}")

The index of 5 in the tuple is: 4

6. Check if an element exists in a tuple.

In [ ]:
new_tupple = (1,2,3,1,5,3,1,4,5,2,2,2,3,4,1,6)
element = 9
x =False
for i in new_tupple:
    if i==element:
      x = True
      break
if x:
      print(f"Yes {element} exist is the tupple")
else:
       print(f'No, {element} is not exist in the tupple')

7. Convert a tuple to a list.

In [ ]:
new_tupple = (1,2,3,1,5,3,1,4,5,2,2,2,3,4,1,6)
new_list = list(new_tupple)
print(new_list)

8. Convert a list to a tuple.

In [ ]:
new_list = [1,2,3,1,5,3,1,4,5,2,2,2,3,4,1,6]
new_tuple = tuple(new_list)
print(new_tuple)

9. Unpack the elements of a tuple into variables.

In [7]:
my_tuple = (10, 20, 30)
var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

10. Create a tuple of even numbers from 1 to 10.

In [8]:
new_tuple = tuple(range(1,11))
updated_tuple =()
for i in new_tuple:
    if i%2 ==0:
        updated_tuple+=(i,)
print(updated_tuple)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [9]:
new_tuple = tuple(range(1,11))
updated_tuple =()
for i in new_tuple:
    if i%2 ==1:
        updated_tuple+=(i,)
print(updated_tuple)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
new_tuple1 = tuple(range(1,11))
new_tuple2 = tuple(range(11,21))
new_tuple1+=new_tuple2
print(new_tuple1)

In [10]:
original_tuple = (1, 2, 3)

repeated_tuple = original_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [ ]:
new_tuple = ()
if len(new_tuple)==0:
    print('Its a empty tuple')
else:
    print('no! its not a empty tuple')

15. Create a nested tuple.

In [ ]:
new_tuple1 = (1,2,3)
new_tuple2 = (4,5,6)
nested_tuple = (7,8,new_tuple1,new_tuple2)
print(nested_tuple)

16. Access the first element of a nested tuple.

In [13]:
new_tuple1 = (1,2,3)
new_tuple2 = (4,5,6)
nested_tuple = (7,8,new_tuple1,new_tuple2)
first_index_of_nested_tuple =nested_tuple[0]
nested_tuple_inner_tupple_1st_index =nested_tuple[2][0]
print(f"Tuple is {nested_tuple}")
print(f"1st index of nested tuple is {first_index_of_nested_tuple} and nested tuple's inner tuple's 1st index is {nested_tuple_inner_tupple_1st_index}")

Tuple is (7, 8, (1, 2, 3), (4, 5, 6))
1st index of nested tuple is 7 and nested tuple's inner tuple's 1st index is 1

17. Create a tuple with a single element.

In [1]:
new_tupple =tuple((3,))
print(new_tupple)

(3,)

18. Compare two tuples.

In [2]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("Tuples are equal.")
else:
    print("Tuples are not equal.")

Tuples are equal.

19. Delete a tuple.

In [3]:
my_tuple = (1, 2, 3, 4, 5)


print("Original Tuple:", my_tuple)
del my_tuple
print(my_tuple)

Original Tuple: (1, 2, 3, 4, 5)

NameError: name 'my_tuple' is not defined

20. Slice a tuple.

In [4]:
my_tupple = (1,2,3,4,5,6)
new_tupple = my_tupple[1:4]
print(new_tupple)

(2, 3, 4)

21. Find the maximum value in a tuple.

In [ ]:
my_tupple = (2,5,4,867,9,67,65,567,5757,4747,747,474,65,3,5)
max_tuple = max(my_tupple)
print (max_tuple)

22. Find the minimum value in a tuple.

In [5]:
my_tupple = (2,5,4,867,9,67,65,567,5757,4747,747,474,65,3,5)
min_tuple = min(my_tupple)
print (min_tuple)

2

23. Convert a string to a tuple of characters.

In [6]:
my_string= "Hey there I am using Python"
new_string =tuple(my_string)
print(new_string)

('H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'I', ' ', 'a', 'm', ' ', 'u', 's', 'i', 'n', 'g', ' ', 'P', 'y', 't', 'h', 'o', 'n')

24. Convert a tuple of characters to a string.

In [7]:
my_tuple =('H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'I', ' ', 'a', 'm', ' ', 'u', 's', 'i', 'n', 'g', ' ', 'P', 'y', 't', 'h', 'o', 'n')
my_string = "".join(my_tuple)
print(my_string)

Hey there I am using Python

25. Create a tuple from multiple data types.

In [8]:
mixed_tuple = (1, "Hello", 3.14, True, [5, 6, 7])

for i in mixed_tuple:
 x = type(i)
 print(f'The element {i} is a {x}')

The element 1 is a <class 'int'>
The element Hello is a <class 'str'>
The element 3.14 is a <class 'float'>
The element True is a <class 'bool'>
The element [5, 6, 7] is a <class 'list'>

26. Check if two tuples are identical.

In [ ]:
tupple1= (1,2,3,4,5,)
tupple2= (1,2,3,4,5)
if tupple1==tupple2:
 print('tupples are identical')
else:
 print('tupples are not identical')

27. Sort the elements of a tuple.

In [ ]:
my_tuple = (2,4,5,3,7,9,3,6)
sort_tuple = tuple(sorted(my_tuple))
print(sort_tuple)

28. Convert a tuple of integers to a tuple of strings.

In [9]:
tuple1 = (1,2,3,4,5)
str_tuple = str(tuple1)
print(str_tuple,type(str_tuple))

(1, 2, 3, 4, 5) <class 'str'>

29. Convert a tuple of strings to a tuple of integers.

In [10]:
Strings= ('1', '2', '3', '4', '5')
list1 = []
for i in Strings:
 x = int(i)
 list1.append(x)

tuple1=tuple(list1)
print(tuple1)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [11]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

merged_tuple = tuple1 + tuple2
print("Merged Tuple:", merged_tuple)

Merged Tuple: (1, 2, 3, 'a', 'b', 'c')

31. Flatten a nested tuple.

In [15]:
nested_tuple = ((1, 2), (3, 4), ((7, 8, 9), 6, (5,(1,2,3), 9, 10)), (5, 6))
flattened = []

def flatten_tuple(t):
    for item in t:
        if isinstance(item, tuple):
            flatten_tuple(item)
        else:
            flattened.append(item)

flatten_tuple(nested_tuple)
flat_tuple = tuple(flattened)
print(flat_tuple)

(1, 2, 3, 4, 7, 8, 9, 6, 5, 1, 2, 3, 9, 10, 5, 6)

32. Create a tuple of the first 5 prime numbers.

In [16]:
prime_list = []
number = 2
while len(prime_list)<5:
  is_prime = True
  for i in range(2,number):
    if number%i==0:
     is_prime=False
     break
  if is_prime:
      prime_list.append(number)
  number+=1
print(tuple(prime_list))

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [ ]:
my_tuple = (1,2,3,4,3,2,1)
reverse_tuple = my_tuple[::-1]
if my_tuple ==reverse_tuple:
 print("Yes this is a palindrome")
else:
 print("No! This is not a palindrome")

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
my_tuple = tuple(range(1,6))
new_list = []
for i in my_tuple:
 new_list.append(i**2)
print(tuple(new_list))

35. Filter out all even numbers from a tuple.

In [ ]:
def filter_number(numbers):
  return  numbers%2 ==0 

new_tuple = (1,5,4,36,7,5,4,6,4,3,6,7,84,3,3,6,67,4,56,6)
number_list = tuple(filter(filter_number,new_tuple))
print(number_list)

36. Multiply all elements in a tuple by 2.

In [17]:
my_tuple = tuple(range(1, 11))

def x_tuple(e):
    result_list = []
    for i in my_tuple:
        result_list.append(i * 2)
    return tuple(result_list)

new_tuple = x_tuple(my_tuple)
print(new_tuple)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers.

In [40]:
import random
new_list =[]
while len(new_list)<=10:
    random_number =random.randint(1,101)
    new_list.append(random_number)
print(tuple(new_list))

(73, 49, 30, 53, 29, 26, 65, 54, 55, 10, 42)

38. Check if a tuple is sorted.

In [ ]:
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)

if my_tuple ==sorted(my_tuple) or my_tuple == sorted(my_tuple,reverse=True):
 print('Yes! Tuple is sorted')
else:
 print('No! Tuple is not sorted')

39. Rotate a tuple to the left by `n` positions.

In [41]:
my_tuple = (1,2,3,4,5,6,7,8,9)
n = 3
result = my_tuple[n:]+my_tuple[:n]
print(f'New tuple is {result}')

New tuple is (4, 5, 6, 7, 8, 9, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [42]:
my_tuple = (1,2,3,4,5,6,7,8,9)
n = 3
result = my_tuple[-n:]+my_tuple[:-n]
print(result)

(7, 8, 9, 1, 2, 3, 4, 5, 6)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
fibonacci_list = []
previous_number = 0
current_number = 1

while len(fibonacci_list) < 5:
    fibonacci_list.append(current_number)
    previous_number, current_number = current_number, previous_number + current_number

print(fibonacci_list)

42. Create a tuple from user input.

In [44]:
user_input = input("Enter input seperated by comma(,): ")
input_tuple = tuple(user_input.split(','))
print((input_tuple),type(input_tuple))

Enter input seperated by comma(,):  555555445,64,64,6,h,n,65,657,,bf,,457,,fgh,f,h

('555555445', '64', '64', '6', 'h', 'n', '65', '657', '', 'bf', '', '457', '', 'fgh', 'f', 'h') <class 'tuple'>

43. Swap two elements in a tuple.

In [45]:
my_tuple = (2,34,5,67,'Python',54,4,32,'java',True,34.5)
my_list = list(my_tuple)
index1 = 4
index2 =8
my_list[index1],my_list[index2]=my_list[index2],my_list[index1]
print(tuple(my_list))

(2, 34, 5, 67, 'java', 54, 4, 32, 'Python', True, 34.5)

44. Reverse the elements of a tuple.

In [46]:
my_tuple = (2,34,5,67,'Python',54,4,32,'java',True,34.5)
my_list = list(my_tuple)[::-1]
print(tuple(my_list))

(34.5, True, 'java', 32, 4, 54, 'Python', 67, 5, 34, 2)

45. Create a tuple of the first `n` powers of 2.

In [52]:
new_list = []
user_input = int(input("Enter power Number: "))
number = 0
while len(new_list)<=user_input:
 new_list.append(2**number)
 number+=1
print(new_list)

Enter power Number:  3

[1, 2, 4, 8]

46. Find the longest string in a tuple of strings.

In [10]:
new_tupple = ("Hey", "There","I", "am","using","Python")

def my_function(e):
 result_list =max(new_tupple,key =len)
 return result_list

result =my_function(new_tupple)
print(result)

Python

47. Find the shortest string in a tuple of strings.

In [1]:
new_tupple = ("Hey", "There","I", "am","using","Python")

def my_function(e):
 result_list =min(new_tupple,key =len)
 return result_list

result =my_function(new_tupple)
print(result)

I

48. Create a tuple of the first `n` triangular numbers.

In [2]:
emptyList =[]
userInput =int(input("Enter the number: "))
n = 1

while n <= userInput:
    sum = (n*(n+1))//2
    emptyList.append(sum)
    n+=1
  
print(tuple(emptyList))

Enter the number:  5

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [3]:
my_tuple = (1,4,'I', 56,True, ('love','python'),34.5,28)
isTuple = False

for i in my_tuple:
    if isinstance(i,tuple):
        isTuple=True
        x =i
        break
    
if isTuple:
    print(f"Yes the tuple contains another tuple as a subsequence and the tuple is {x}")
else:
    print("This tuple does not contains another tuple.")

Yes the tuple contains another tuple as a subsequence and the tuple is ('love', 'python')

50. Create a tuple of alternating 1s and 0s of length `n`.

In [2]:
result_list =[1]
user_input = int(input("Enter the Number: "))
count =0
if user_input==0:
 result_list=[]
else:
 while (len(result_list)<user_input):
  if result_list[-1] ==0:
   result_list.append(1)
  else:
   result_list.append(0)
  count+=1
print(tuple(result_list))

Enter the Number:  0

()

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [3]:
my_set = set()
for i in range(1,6):
 my_set.update([i])
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [15]:
my_set = {1,2,3,'Python',45,65}

my_set.update(['Dipanjan'])
print(my_set)

{65, 'Python', 2, 3, 1, 'Dipanjan', 45}

3. Remove an element from a set.

In [16]:
my_set ={65, 'Python', 2, 3, 1, 'Dipanjan', 45}
my_set.remove('Dipanjan')
print(my_set)

{65, 2, 3, 'Python', 1, 45}

4. Check if an element exists in a set.

In [17]:
my_set ={65, 'Python', 2, 3, 1, 'Dipanjan', 45}
x = False
for i in my_set:
 if i=="Dipanjan":
  x = True

if x:
  print("Yes! The element exists")
else:
  print("No! the element does not exists")

Yes! The element exists

5. Find the length of a set without using the `len()` function.

In [18]:
my_set ={65, 'Python', 2, 3, 1, 'Dipanjan', 45,6}
count =0
for i in my_set:
 pass
 count+=1
print(f"The length of the set is {count}")

The length of the set is 8

6. Clear all elements from a set.

In [ ]:
my_set ={65, 'Python', 2, 3, 1, 'Dipanjan', 45,6}
my_set.clear()
print(my_set)

7. Create a set of even numbers from 1 to 10.

In [19]:
my_set =set()
number_set = set(range(1,11))
for i in number_set:
 if i%2 ==0:
  my_set.add(i)
print(my_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [20]:
my_set =set()
number_set = set(range(1,11))
for i in number_set:
 if i%2 ==1:
  my_set.add(i)
print(my_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [21]:
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}

union_result = set_A | set_B
print("Union of A and B:", union_result)

Union of A and B: {1, 2, 3, 4, 5, 6}

10. Find the intersection of two sets.

In [22]:
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}

result_set = set_A.intersection(set_B)
print(result_set)

{3, 4}

11. Find the difference between two sets.

In [23]:
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}

result_set = set_A.difference(set_B)
print(result_set)

{1, 2}

12. Check if a set is a subset of another set.

In [24]:
set_A = {1, 2, 3}
set_B = {1, 2, 3, 4, 5}

is_subset = set_A.issubset(set_B)
print(is_subset)

True

13. Check if a set is a superset of another set.

In [25]:
set_A = {1, 2, 3}
set_B = {1, 2, 3, 4, 5}

is_subset = set_B.issuperset(set_A)
print(is_subset)

True

14. Create a set from a list.

In [28]:
my_list = [1,2,34,6,65,76,"Python","Java",56]
my_set = set(my_list)
print(my_set)

{65, 1, 2, 34, 'Python', 6, 76, 'Java', 56}

15. Convert a set to a list.

In [27]:
my_set = {1,2,34,6,65,76,"Python","Java",56}
my_list = list(my_list)
print(my_list)

[65, 2, 'Python', 34, 1, 6, 76, 'Java', 56]

16. Remove a random element from a set.

In [48]:
import random
my_set = {65,  2,  'Python', 6,'Java'}
my_list =list(my_set)
def my_function(e):
 set_index = my_list[random.randint(0,len(e)-1)]
 e.remove(set_index)
 return e

new_set = my_function(my_list)
print(set(new_set))

{65, 2, 'Python', 6}

17. Pop an element from a set.

In [ ]:
my_set = {65,  2,  'Python', 6,'Java'}
poped_element = my_set.pop()
print(f"Poped element is {poped_element} amd the updated set is {my_set}")

18. Check if two sets have no elements in common.

In [ ]:
set_1 = {1,2,3,4}
set_2 = {5,6,7,8}

if set_1.isdisjoint(set_2):
 print("The sets have no element in common")
else:
 print("The sets have element in common")

19. Find the symmetric difference between two sets.

In [49]:
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}

symmetric_difference_result = set_A.symmetric_difference(set_B)

print("Set A:", set_A)
print("Set B:", set_B)
print("Symmetric Difference:", symmetric_difference_result)

Set A: {1, 2, 3, 4}
Set B: {3, 4, 5, 6}
Symmetric Difference: {1, 2, 5, 6}

20. Update a set with elements from another set.

In [50]:
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}

set_A.update(set_B)
print(set_A)

{1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [ ]:
my_set = set()
element = 2
while len(my_set)<5:
 is_prime = True
 for i in range(2,element):
  if  element%i ==0:
   is_prime= False
   break
  
 if is_prime:
   my_set.add(element)
 element+=1
print(my_set)

22. Check if two sets are identical.

In [53]:
set_A = {1, 2, 3, 4}
set_B = {4, 3, 2, 1}

if set_A ==set_B:
 print('Yes sets are identical')
else:
 print("Sets are not identical")

Yes sets are identical

In [55]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [58]:
Set_A= {1, 2, 3}
Set_B= {4, 5, 6}
if Set_A.isdisjoint(Set_B):
 print("Yes! sets are disjoint")
else:
 print("No! sets are not disjoint")

Yes! sets are disjoint

25. Create a set of squares of numbers from 1 to 5.

In [59]:
new_set = set()
for i in range (1,6):
 new_set.add(i**2)
print(new_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [60]:
my_set = {2,4,5,6,7,8,9,12,16,13}
new_set = set()
for i in my_set:
 if i%2 ==0:
  new_set.add(i)
print(new_set)

{2, 4, 6, 8, 12, 16}

27. Multiply all elements in a set by 2.

In [65]:
my_set = {2,4,5,6,7,8,9,12,16,13}
new_set = set()
for i in my_set:
 i*=2
 new_set.add(i)

print(new_set)

{32, 4, 8, 10, 12, 14, 16, 18, 24, 26}

28. Create a set of random numbers.

In [1]:
import random
my_set = set()
count =0
while count<=5:
 x = random.randint(1,100)
 my_set.add(x)
 count+=1
print(my_set)

{65, 67, 69, 7, 89, 90}

29. Check if a set is empty.

In [66]:
my_set = set()
if not my_set:
 print("Empty Set")
else:
 print("Set is not empty")

Empty Set

30. Create a nested set (hint: use frozenset).

In [67]:
my_set = {1,3,4,frozenset({4,frozenset({3,4,5}),6,7}),5,7}
print(my_set)

{1, 3, 4, 5, frozenset({4, 7, frozenset({3, 4, 5}), 6}), 7}

31. Remove an element from a set using the discard method

In [2]:
my_set = {65, 67, 69, 7, 89, 90}
my_set.discard(67)
print(my_set)

{65, 69, 7, 89, 90}

32. Compare two sets.

In [3]:
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}

# Equality
is_equal = set_A == set_B
print("Equality:", is_equal)

# Subset and Superset
is_subset = set_A.issubset(set_B)
is_superset = set_B.issuperset(set_A)
print("Is set_A a subset of set_B?", is_subset)
print("Is set_B a superset of set_A?", is_superset)

# Intersection
intersection_set = set_A.intersection(set_B)
print("Intersection:", intersection_set)

# Union
union_set = set_A.union(set_B)
print("Union:", union_set)

# Complement
complement_set_B_A = set_B - set_A
print("Complement of set_B with respect to set_A:", complement_set_B_A)

# Disjoint Sets
are_disjoint = set_A.isdisjoint(set_B)
print("Are set_A and set_B disjoint?", are_disjoint)

Equality: False
Is set_A a subset of set_B? False
Is set_B a superset of set_A? False
Intersection: {3, 4}
Union: {1, 2, 3, 4, 5, 6}
Complement of set_B with respect to set_A: {5, 6}
Are set_A and set_B disjoint? False

33. Create a set from a string.

In [4]:
input_string = "hello"
char_set = set(input_string)
print("Set from string:", char_set)

Set from string: {'e', 'o', 'h', 'l'}

34. Convert a set of strings to a set of integers.

In [5]:
my_set = {'1','2','3','4','5'}
new_set =set()
for i in my_set:
    i =int(i)
    new_set.add(i)
print(new_set)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [6]:
my_set ={1, 2, 3, 4, 5}
new_set = set()
for i in my_set:
        i = str(i)
        new_set.add(i)
print (new_set)

{'5', '4', '1', '3', '2'}

36. Create a set from a tuple.

In [7]:
my_tuple = (1,2,3,4,5,6,6,4,3,5,3,2)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5, 6}

37. Convert a set to a tuple.

In [8]:
my_set = {1,2,3,4,5,6,6,4,3,5,3,2}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5, 6)

38. Find the maximum value in a set.

In [9]:
my_set = {1, 2, 3, 4, 5, 6, 7}
max_value = max(my_set)
print(max_value)

7

39. Find the minimum value in a set.

In [10]:
my_set = {1, 2, 3, 4, 5, 6, 7}
max_value = min(my_set)
print(max_value)

1

40. Create a set from user input.

In [11]:
user_input = input("Enter the value separated by comma(,): ")
print(set(user_input.split(",")))

Enter the value separated by comma(,):  d,,t,r,,e,t,y,y,u,7,55,6

{'', 'r', 'e', 'd', '6', 't', '55', '7', 'y', 'u'}

41. Check if the intersection of two sets is empty.

In [1]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

if not set1.intersection(set2):
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

The intersection is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [2]:
my_set = set()

old_number = 0
new_number = 1
while len(my_set)<5:
    old_number,new_number = new_number,old_number+new_number
    my_set.add(new_number)
print(my_set)

{1, 2, 3, 5, 8}

43. Remove duplicates from a list using sets.

In [ ]:
my_list =[1,2,3,4,5,1,2,3,2,1,4,3,5]
print(list(set(my_list)))

44. Check if two sets have the same elements, regardless of their count

In [3]:
  setA = {1,2,2,3,3,4,4,4,4,5}
setB = {1,2,3,4,5}
if setA == setB:
    print("Yes! Sets have the same elements, regardless of their count")
else:
    print('No! Sets have not the same elements, regardless of their count')

Yes! Sets have the same elements, regardless of their count

45. Create a set of the first `n` powers of 2.

In [4]:
user_input = int(input("Enter the number: "))
my_set = set()
power = 0
while len(my_set)<user_input:
    my_set.add(2**power)
    power+=1
print(my_set)

Enter the number:  10

{32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

46. Find the common elements between a set and a list.

In [6]:
my_list = [0,1,2,3,4,5,6,7,8,9]
my_set = {1,2,3,4,5}
new_list = []
for i in my_set:
    for j in my_list:
        if i==j:
         new_list.append(i)
print(set(new_list))

{1, 2, 3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [7]:
user_input = int(input("Enter the no: "))
number =0
count =0
for i in range(0,user_input+1):
    number = number +i
print(number)

Enter the no:  7

28

48. Check if a set contains another set as a subset.

In [1]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}
is_subset = set2.issubset(set1)

print(is_subset)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
n = 10 
user_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(user_set)

50. Merge multiple sets into one.

In [2]:
set_1 = {1,2,3,4,5}
set_2 = {6,7,8,9,10}
set_3 = {11,12,13,14,15}
resut_set = set_1.union(set_2,set_3)
print(resut_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}